.pdfBox
    text-align: center
    .title
        background-color: rgb(92,184,92)
        color: #fff
        font-size: 20px
        line-height: 40px
    .infoBox
        display: flex
        justify-content: space-between
        span
            width: 50%
            font-size: 14px
            line-height: 25px
            border: 1px solid #000
    .details
        display: flex
        span
            width: 50%
            font-size: 14px
            line-height: 25px
            border: 1px solid #000
            flex: 2
        
        .name
            flex: 3
        
