.TotalCountBox
    padding: 24px 28px
    background: #EDF8F8
    border-radius: 16px
    height: 160px
    .line
        height: 1px
        width: 100%
        background-color: #CBD4DC
        margin: 5px 0
    .addOrsub
        line-height: 21px
        color: #768396
    .deviation
        line-height: 21px
        color: #10B482
        margin-left: 5px
